<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Platform for Earthquake Detection </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- iCheck -->

  <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="plugins/morris/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <script type="text/javascript">
      
    </script>
    <style type="text/css">
      .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
  
    </style>
</head>
<body  class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
     <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/prediction" class="nav-link"><h3 allign="center"><b>Testing Prediction Model</b></h3></a>
      </li>
      </nav> 

  <<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
      <!-- Brand Logo --><br>
    <a href="/" class="brand-link">
              <i class="fa fa-globe" style="font-size: 25px;"></i> <span style="font-size: 20px;">Earthquake Prediction</span>
    </a>



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item ">
           
            <a href="/" class="nav-link ">
              <i class="nav-icon fa fa-dashboard" style="font-size:24px"></i>
              <p>
                Dashboard
                
              </p>
            </a>
            
          </li>
          <li class="nav-item">
            <a href="/datadownload" class="nav-link ">
              <i class="fa fa-download" style="font-size:24px"></i>
              <p>
                Data Download
               
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/noiseremoval" class="nav-link ">
              <i class="nav-icon fa fa-table" style="font-size:24px"></i>
              <p>
                Noise Removal
               
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/prediction" class="nav-link active">
              <i class="fa fa-clock-o" style="font-size:24px"></i>
              <p>Prediction Model</p>
            </a>
          </li>
           <li class="nav-item">
            <a href="/subscribe" class="nav-link">
              <i class="fa fa-plus" style="font-size:24px"></i>
              <p>
                Subscribe
               
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/unsubscribe" class="nav-link">
              <i class="fa fa-minus" style="font-size:24px"></i>
              <p>
                UnSubscribe
               
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
  <div class="right_col" role="main">
         <div class="row">
          <div class="col-lg-3"></div>
         <div class="col-lg-6"> </div>
         <div class="col-lg-3">
       

          <button id="model" style="float: right;"" class="btn btn-primary">Learn About the Model</button></div>
        </div>
         
         <div class="row modal" id="mymodal">
          <span class="close1">&times;</span>
          <div class="modal-content">
          <div class="content-wrapper">
          <h3>Training Data</h3>
          <h2>The input data for the model is in SAC format.The SAC file format contains the timeseries data. We have used Obspy library to read the SAC file.</h2>
          <h2>To convert SAC file to training data sets we have used </h2>
          <ol>
            <li>Triggering Algorithms(Recursive STA/LTA)</li>
            <li>Picker Algorithm(To calculate P-pick and S-Pick)</li>
          </ol>
          <h2>The output from the picker algorithm is then saved into a CSV file (Training Dataset) with Event Starttime, Event Endtime, P-Pick and S-pick</h2>
          <h3>Machine Learning Model Implementation</h3>
          <h2>We have implemented three different machine learning models to detect aftershocks if there are any. Three different model are: </h2>
          <ul>
            <li>Random Forest Classifier</li>
            <li>Decision Tree Classifier</li>
            <li>Support Vector Machine</li>
          </ul>
          <h2>Each model mentioned above has both advantages and disadvantages. From the results we got from three models Random Forest classifier provides better accuracy and greatly reduces overfitting problem.</h2>
           <div style="display: inline; margin: 15px;"><h2><b>Earthquake Prediction Model Sample trees</h2>
          <h2>Following are the sample decision trees from Decision Tree CLassifier and Random Forest Classifier</h2>
          <div style="display: inline;">
           
            <div style=" background-color:   #B0C4DE;float: left;margin:5px"><h5 style="margin-top: 5px;color: black">Decision Tree Algorithm</h5><img src="images/decisiontree.PNG" height="400px" width="380px" style="margin: 10px;margin-left: 40px;"></div>
            <div style="background-color: #ADD8E6;float: right;height: 450px;margin: 5px;margin-right: 50px;">
              <h5 style="color: black">Random Forest Algorithm</h5>
              <img src="images/randomforest1.PNG" height="400px" width="380px" style="margin: 10px; float: left">
              <img src="images/randomforest2.PNG" height="400px" width="380px" style="margin: 10px;">
            </div>
           </div>
          </div>
          
           </div>
         </div>
       </div>
        
        </div>
        
         <div class="row">
          <!-- Left col -->
          <div class="col-lg-3"></div>
          <div class="col-lg-7">
            <!-- Custom tabs (Charts with tabs)-->
            
          <div class="card ">
              <div class="card-header ">
                <div class="row">
 <div class="col-lg-6"> <input type="button" id="tablink1" class="btn btn-block btn-danger btn-lg tablinks active" style="width: 100%;" onclick="openCity('tabs-1')" value="Upload File"> </div>
  <div class="col-lg-6"> <input type="button" id="tablink2" class=" btn btn-block btn-danger btn-lg tablinks" style="width:100%;" onclick="openCity('tabs-2')" value="Enter Details"></div>
</div></div>

  <div class="card-body">
  <div id="tabs-1" stle="display:None"  class="tabcontent">
      <form action="/prediction"  method="post" enctype="multipart/form-data" style="margin: 30px;height:600px;">
        <div class="form-group">
            <h4 align="center"><b>Please upload a SAC file to test the model</b></h4>
          </div>
          <br>
          <div class=" row form-group " style="margin: 20px;">
          <label style="float: left; margin: 10px;">Select a Machine Learning Model:</label>
          <select name="model" class="form-control select2" size="1">
            <option value="randomforest">Random Forest</option>
            <option value="decisiontree">Decision Tree</option>
            <option value="svm">Support Vector Machine</option>
            </select>
           </div>
           <div class=" row form-group " style="margin: 20px;">
           <label style="margin: 13px;"> <i class="fa fa-paperclip" ></i> Upload a SAC file :</label>
             <input class="btn btn-default btn-file" style="float:right;width: 100%;" type="file" name="input_file" accept=".SAC" id="myfile">
           </div>
           <br>
          <div class="row form-group"> <input  style=" margin: 20px;width:100%;"type="submit"  id ="predict" class="btn btn-success" value="Predict"></div>
      </div>
      <br>
      <br>
     
               
  </form>
  </div>

  <div id="tabs-2" style="display: None;" class="tabcontent">
     <button id="help" style="float: right;margin-top: 15px;" class="btn btn-primary">Help?</button>
         
         <div class="row modal" id="myModal">
          <span class="close">&times;</span>
          <div class="modal-content">
            <div class="content-wrapper">
      <h4>To Predict if there is any earthquake we have used random forest algorithm</h4>
      <h5>The input to the model for prediction consists of features :</h5>
      <ol>
      <li>Location</li>
      <li>Station</li>
      <li>Channel</li>
      <li>Event Starttime and Event Endtime</li>
      <li>P-pick and S-pick Values</li>
      <li>Sampling points</li>
      </ol>
      <h5>Following are the samples for earthquake and non earthquake data</h5>
      <div style="align:center">
      <img src="images/earthquake.png" height="200px" width="350px" style="margin: 10px; float: left">
            <img src="images/nonearthquake.png" height="200px" width="350px" style="margin: 10px;">
              </div>
      <h5>If we consider manual decision making, prediction will be done based on following factors</h5>
      <ul>
      <li>Time difference between event start time and event end time</li>
      <li>P-pick and S-pick values</li>
      </ul>
      <h5>Similar decison making is implemented using machine learning algorithm which makes use of several such decision tree to make a prediction thus by increases accuracy</h5>
        </div>
      </div>
         </div>
        
    <form action="/prediction"  method="post" enctype="multipart/form-data" style="margin: 30px;height:600px;">
      <div class="form-group">
            <h4 align="center"><b>Please enter details to test the model</b></h4>
          </div>
  
                <div class=" row form-group">
                     <div class="col-lg-6">
                    <label  for="ml">Machine Learning Model:</label>
                <select name="model" class="form-control select2" size="1">
                  <option value="randomforest">Random Forest</option>
                  <option value="decisiontree">Decision Tree</option>
                  <option value="svm">Support Vector Machine</option>
                  </select>
                </div>
                <div  class="col-lg-6">
                   <label for="st">Event Location:</label>
                   <input type="text" style="width: 100%;" class="form-control form-control-sm" name="location" placeholder="Location">
                 </div>
              </div>
             <div class=" row form-group">
        
             <div class="col-lg-6">

                <label for="st">Event Statime:</label>
               <input type="datetime-local" class="form-control" name="starttime">
            </div>
            <div class="col-lg-6">
           <label for="et">Event Endtime:</label>
            <input type="datetime-local" class="form-control" name="endtime">
           </div>
         </div>
      <div class="form-group">
       <label for="npts">Number of Sampling Points:</label>
        <input type="number" class="form-control" name="npts" placeholder="Number Of Sampling Points">
        </div>
    <div class="form-group">
       <label for="pp">P_pick:</label>
        <input type="ppick" class="form-control" name="ppick" placeholder="P_Pick Value">
      </div>
      <div class="form-group">
       <label for="sp">S_pick:</label>
        <input type="spick" class="form-control" name="spick" Placeholder="S_Pick Value">
      </div>
      <br>
      
      <div class="row form-group"> <input  style=" margin: 20px;width:100%;"type="submit"  id ="predict" class="btn btn-success" value="Predict"></div>
        
    
       
  
        </form>
               
        </div> <!-- tab2 conent-->
     
   
     </div>

<% if(messages){ %>
          <div class="row form-group" >
        
            <p style="display: block;color: black;margin: 40px; align-content: center;"><h2>  Result:<%=messages%></h2>
            </p>
          </div>
          <% } %>

      </div>
      


      <!--
         <div style="display: inline; margin: 15px;"><h2><b>Earthquake Prediction Model Sample trees</h2>
          <h2>Following are the sample decision trees from Decision Tree CLassifier and Random Forest Classifier</h2>
          <div style="display: inline;">
           
            <div style=" background-color:   #B0C4DE;float: left;margin:5px"><h5 style="margin-top: 5px;color: black">Decision Tree Algorithm</h5><img src="images/decisiontree.PNG" height="400px" width="380px" style="margin: 10px;margin-left: 40px;"></div>
            <div style="background-color: #ADD8E6;float: right;height: 450px;margin: 5px;margin-right: 50px;">
              <h5 style="color: black">Random Forest Algorithm</h5>
              <img src="images/randomforest1.PNG" height="400px" width="380px" style="margin: 10px; float: left">
              <img src="images/randomforest2.PNG" height="400px" width="380px" style="margin: 10px;">
            </div>
  </div>
          </div>
          

          
         
        

        <!-- footer content -->
        <footer style="clear:both">
          <div class="pull-right">
          
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
  </section>
</div>
<script>
function openCity(cityName) {
    var i, tabcontent, tablinks;
    
     if(cityName=="tabs-1"){
      
      document.getElementById("tablink2").className="btn btn-block btn-danger btn-lg  tablinks";
      document.getElementById("tablink1").className += " active";
      document.getElementById("tabs-1").style.display="block";
      document.getElementById("tabs-2").style.display="None";
     }
     else {

     
      document.getElementById("tablink1").className="btn btn-block btn-danger btn-lg tablinks";

      document.getElementById("tablink2").className += " active";
       document.getElementById("tabs-2").style.display="block";
      document.getElementById("tabs-1").style.display="None";
     }
}
</script>
   

    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
   
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
 <script>
// Get the modal
var modal = document.getElementById('myModal');
var modal1 = document.getElementById('mymodal');
// Get the button that opens the modal
var btn = document.getElementById("help");
var model_btn=document.getElementById("model");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var span1=document.getElementsByClassName("close1")[0];
// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}
model_btn.onclick = function() {
    modal1.style.display = "block";
}


// When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//     modal.style.display = "none";
//     }
// span1.onclick = function() {
//     modal1.style.display = "none";
// }
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    if(event.target==modal1){
      modal1.style.display="none";
    }
}
</script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
</body>
</html>
